nav {
  position: fixed;
  top: 0px;
  z-index: 99;
  padding-left: 0;
  width: 100%;
  height: 48px;
}

.nav-link {
  font-weight: bold;
  color: white;
}

.nb_style {
  background-color: rgb(14, 62, 151);
  color:white;
}

.nb_toggle {
  z-index: 110;
  background-color: white;
  color:  rgb(14, 62, 151);
  width: 40px;
  height: 30px;
  /* margin-bottom: 4px; */
}

.tssg-logo {
  border-radius: 3px;
  float: left;
  width: 49px;
  height: 37px;
  /* margin-bottom: 4px; */
}


