<form #venueForm="ngForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">List All Teams</h4>
      <p>&nbsp;</p>
    </div>
    <table class="table-fixed">
      <thead>
        <tr>
          <th>Team</th>&nbsp;
          <th>Description</th>&nbsp;
          <th>Team Lead</th>&nbsp;
          <th>Team Members</th>&nbsp;
          <th>Meeting Link</th>&nbsp;
          <th>Comments</th>&nbsp;
          <th></th>&nbsp;
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!--
          For some unknown (to me) reason, the table body
          display lines start at the same height as the
          table header. The two following blank rows
          push the body below the header.
        -->
        <tr>&nbsp;</tr>
        <tr>&nbsp;</tr>
        <tr *ngFor="let team of teams">
          <td>{{team._id}}</td>&nbsp;
          <td>{{team.description}}</td>&nbsp;
          <td>{{team.teamLead}}</td>&nbsp;
          <td>{{team.members}}</td>&nbsp;
          <td>{{team.zoomLink}}</td>&nbsp;
          <td>{{team.comments}}</td>&nbsp;
          <td><a [routerLink]="['edit', team._id]" class="btn btn-primary btn-sm">Edit</a></td>&nbsp;
          <td><a (click)="deleteTeam(team._id)" class="btn btn-danger btn-sm" style="color: white">Del</a></td>
        </tr>
        <tr>&nbsp;</tr>
        <tr *ngIf="!teams">
          <td colspan="10">Loading data. Please wait... </td>
        </tr>
        <tr *ngIf="teams && teams.length==0">
          <td colspan="10">No teams to display</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
<div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div><br/><a id="bottom"></a></div>
<br/><br/>    <!-- Ensure error messages are displayed when bottom is selected -->
