<form #meetingForm="ngForm" (ngSubmit)="addMeeting(meetingForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Add New Meeting</h4>
      <p>&nbsp;</p>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="_id.invalid && _id.touched" [class.has-success]="_id.valid">
        <label for="_id" class="control-label"> Meeting Id (must be unique)</label>
        <input required id="_id" name="_id" type="text" class="form-control" [(ngModel)]="meeting._id" #_id="ngModel">
        <span class="alert alert-danger" *ngIf="_id.invalid && _id.touched">
          Meeting Name is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="team.invalid && team.touched" [class.has-success]="team.valid">
        <label for="team" class="control-label"> Team Name (select one)</label>
        <select required id="team" name="team" class="form-control" [(ngModel)]="meeting.team" #team="ngModel">
          <option *ngFor="let teamName of teams" [value]="teamName"> {{teamName}}</option>
        </select>
        <span class="alert alert-danger" *ngIf="team.invalid && team.touched">
          Team Name is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="venue.invalid && venue.touched" [class.has-success]="venue.valid">
        <label for="venue" class="control-label"> Venue Name (select one)</label>
        <select required id="venue" name="venue" class="form-control" [(ngModel)]="meeting.venue" #venue="ngModel">
          <option *ngFor="let venueName of venues" [value]="venueName"> {{venueName}}</option>
        </select>
        <span class="alert alert-danger" *ngIf="venue.invalid && venue.touched">
          Venue Name is required
        </span>
      </div>

      <div class="form-group">
        <label for="meetingDate" class="control-label"> Meeting Date</label>
        <div class="input-group small-entry">
          <input required id="meetingDate"  name="meetingDate" placeholder="yyyy-mm-dd" class="form-control"
            [(ngModel)]="meeting.meetingDate" [bsConfig]="datePickerConfig" bsDatepicker placement="right">
        </div>
      </div>

      <label for="meeting.startTime" class="control-label">Start Time</label>
      <timepicker required id="meeting.startTime" name="meeting.startTime" [(ngModel)]="meeting.startTime" [hourStep]="hstep"
        [minuteStep]="mstep" [showSeconds]="false" [ngModelOptions]="{standalone: true}">
      </timepicker>

      <label for="meeting.endTime" class="control-label">End Time</label>
      <timepicker required id="meeting.endTime" name="meeting.endTime" [(ngModel)]="meeting.endTime" [hourStep]="hstep"
        [minuteStep]="mstep" [showSeconds]="false" [ngModelOptions]="{standalone: true}">
      </timepicker>

      <div class="form-group">
        <label for="comments" class="control-label">Comments</label>
        <input id="comments" name="comments" type="text" class="form-control" [(ngModel)]="meeting.comments"
          #comments="ngModel">
      </div>

      <div class="form-group">
        <!-- <button type='submit' class='btn btn-primary' [disabled]='meetingForm.invalid'>Add</button> -->
        <button type='submit' class='btn btn-primary'>Add</button>
        &nbsp;
        <button type="reset" class="btn btn-success" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div><br/><a id="bottom"></a></div>
<br/><br/>    <!-- Ensure error messages are displayed when bottom is selected -->
<!--
<br /><br />
Angular Generated Form Model : {{meetingForm.value | json}}
<br /><br />
Our Meeting Model : {{meeting | json}}
-->
