<form #venueForm="ngForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">List All Venues</h4>
      <p>This page can only be accessed by administrators.</p>
    </div>
      <table class="table-fixed">
        <thead>
          <tr>
            <th>Venue</th>
            <th>Description</th>
            <!-- <th>Website</th> -->
            <!-- <th>Calendar</th> -->
            <th>Address</th>
            <th>Town</th>
            <th>Location</th>
            <th>Icon Image</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <!-- three empty lines will push first display line below  -->
          <tr>&nbsp;</tr>
          <tr>&nbsp;</tr>
          <tr>&nbsp;</tr>
          <tr *ngFor="let venue of venues">
            <td>{{venue._id}}</td>
            <td>{{venue.description}}</td>
            <!-- <td>{{venue.website}}</td> -->
            <!-- <td>{{venue.calendar}}</td> -->
            <td>{{venue.address}}</td>
            <td>{{venue.town}}</td>
            <td>{{venue.location}}</td>
            <td>{{venue.iconimage}}</td>
            <!--
          pass control to venue-edit.components constructor via app-routing.module.ts
          this will retrieve venue and display in venue-edit.component.html
        -->
            <td><a [routerLink]="['edit', venue._id]" class="btn btn-primary btn-sm">Edit</a></td>

            <td><a (click)="deleteVenue(venue._id)" class="btn btn-danger btn-sm" style="color: white">Del</a></td>
          </tr>
          <tr *ngIf="!venues">
            <td colspan="10">Loading data. Please wait... </td>
          </tr>
          <tr *ngIf="venues && venues.length==0">
            <td colspan="10">No venues to display</td>
          </tr>
        </tbody>
      </table>
  </div>
</form>
