.idea/*
!/.idea/runConfigurations
.gradle/
build/
caches/
daemon/
native/
out/
tmp/
logs/
target/
rsync/

node_modules/
nginx/backup/
hosts.backup
dnsmasq.conf
sites-enabled/dnsmasq.sdb
tools/docker/scheduledb/nginx/sites-enabled/dnsmasq.sdb
tools/docker/scheduledb/DbApp/src/env.js
tools/docker/scheduledb/DbApp/debug.log

