.idea/*
!/.idea/runConfigurations
.gradle/
build/
caches/
daemon/
native/
out/
tmp/
logs/
target/

node_modules/
nginx/backup/
hosts.backup
dnsmasq.conf
sites-enabled/dnsmasq.sdb
tools/docker/scheduledb/nginx/sites-enabled/dnsmasq.sdb
tools/docker/scheduledb/DbApp/package-lock.json
tools/docker/scheduledb/DbApi/package-lock.json
tools/docker/scheduledb/tssgTech/package-lock.json
tools/docker/scheduledb/DbApp/src/env.js
