<form #userForm="ngForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">User</h4>
    </div>
    <p>&nbsp;</p>
    <div class="panel-body">
      Current user from secure api end point:
      <ul *ngIf="currentUser">
        <li style="font-weight:bold">{{currentUser.firstname}} {{currentUser.lastname}}</li>
        <li>Your role is: <strong>{{currentUser.role}}</strong></li>
        <li>You are logged in with Angular 8 & JWT</li>
      </ul>
      <ul>
        <li>tssgDbApi version: <strong>{{currentUser.backendVersion}}</strong></li>
        <li>tssgDbApp version: <strong>{{currentUser.frontendVersion}}</strong></li>
      </ul>
      <ul *ngIf="!currentUser">
        <li style="font-weight:bold">Currently you are not logged in.</li>
      </ul>
    </div>
  </div>
</form>
<div id="errMsg" *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div><br /><br /><br /><br /><a id="bottom"></a></div>
