<form #userForm="ngForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">User</h4>
    </div>
    <p>&nbsp;</p>
    <div class="panel-body">
      Logged in as:
      <ul *ngIf="currentUser">
        <li style="font-weight:bold">{{currentUser.firstname}} {{currentUser.lastname}}</li>
        <li>Your role is: <strong>{{currentUser.role}}</strong></li>
      </ul>
      <ul>
        <li>Angular version:&nbsp;&nbsp; <strong>{{ngVersion}}</strong></li>
        <li>Backend version:&nbsp; <strong>{{BACKEND_VERSION}}</strong></li>
        <li>Frontend version: <strong>{{FRONTEND_VERSION}}</strong></li>
      </ul>
      <ul *ngIf="!currentUser">
        <li style="font-weight:bold">Currently you are not logged in.</li>
      </ul>
    </div>
  </div>
</form>
<div id="errMsg" *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div><br /><a id="bottom"></a></div>
<br/><br/>    <!-- Ensure error messages are displayed when bottom is selected -->
