<nav class="navbar navbar-expand-sm nb_style">
  <div class="container-fluid">
    <a style="float:left;margin-left:20px">
      <img class="navbar-brand tssg-logo" href="#" src="assets/tssg_logo.png" alt="Image not avaiable"
        routerLink="user/login" routerLinkActive="active">
    </a>
    <button class="navbar-toggler nb_toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
      aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- for now we put venue item last as it has the least wide dropdown menu.  bootstrap uses the widest (meetings) dropdown to
        calculate position off all navbar menue items and therefore the dropdown positions.  If you change the order, you will
        see the right most menue item push up against the right edge and possibly partially out of view.
    -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="float:left;">
      <ul class="navbar-nav ml-auto">
        <!-- adding the data-toggle and data-target classes will cause the verticle menu items to collaps when a dropdown is selected -->
        <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle nb_style" href="#" id="navbarDropdown" data-toggle="dropdown">
            Users
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link nb_style" routerLink="user/login" routerLinkActive="active">Login</a>
            <a class="dropdown-item nav-link nb_style" routerLink="user/create" routerLinkActive="active">Add User</a>
            <a class="dropdown-item nav-link nb_style" routerLink="user/get-all" routerLinkActive="active">List All
              Users</a>
            <a class="dropdown-item nav-link nb_style" routerLink="user/get" routerLinkActive="active">List Current
              User
            </a>
            <!--<div class="dropdown-divider nb_style"></div>-->
            <a class="dropdown-item nav-link nb_style" routerLink="user/logout" routerLinkActive="active">Logout</a>
          </div>
        </li>
        <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle nb_style" href="#" id="navbarDropdown" data-toggle="dropdown">
            Teams
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link nb_style" routerLink="team/create" routerLinkActive="active">Create
              Teams</a>
            <a class="dropdown-item nav-link nb_style" routerLink="team" routerLinkActive="active">List Teams</a>
          </div>
        </li>
        <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle nb_style" href="#" id="navbarDropdown" data-toggle="dropdown">
            Meetings
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link nb_style" routerLink="meeting/create" routerLinkActive="active">Create
              Meeting</a>
            <a class="dropdown-item nav-link nb_style" routerLink="meeting" routerLinkActive="active">List All
              Meetings</a>
            <a class="dropdown-item nav-link nb_style" routerLink="meeting/get/schedule" routerLinkActive="active">List
              Team Meetings</a>
          </div>
        </li>
        <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle nb_style" href="#" id="navbarDropdown" data-toggle="dropdown">
            Venues
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link nb_style" routerLink="venue/create" routerLinkActive="active">Create
              Venue</a>
            <a class="dropdown-item nav-link nb_style" routerLink="venue" routerLinkActive="active">List Venues</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
