<form #userForm="ngForm" (ngSubmit)="updateUser(user)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Edit User</h4>
      <p>This page can only be accessed by administrators.</p>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="username.invalid && username.touched"
        [class.has-success]="username.valid">
        <label for="username" class="control-label"> Username</label>
        <input required id="username" name="username" type="text" class="form-control" [(ngModel)]="user.username"
          #username="ngModel">
        <span class="alert alert-danger" *ngIf="username.invalid && username.touched">
          Username is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="password.invalid && password.touched"
        [class.has-success]="password.valid">
        <label for="password" class="control-label">Password</label>
        <input id="password" name="password" type="password" class="form-control" [(ngModel)]="user.password"
          #password="ngModel">
      </div>
      <div class="form-group" [class.has-error]="role.invalid && role.touched" [class.has-success]="role.valid">
        <label for="role" class="control-label">Role</label>
        <div class="form-control radio-inline" style="width:40ch">
          <input required type="radio" value="Admin" id="r1" name="role" [(ngModel)]="user.role"
            #role="ngModel" style="width:4ch">Admin
          <input required type="radio" value="User" id="r2" name="role" [(ngModel)]="user.role"
            #role="ngModel" style="width:4ch">User
          <input required type="radio" value="Contact" id="r3" name="role" [(ngModel)]="user.role"
            #role="ngModel" style="width:4ch">Contact
          <p>
            <!-- following validity tests are the only way I can think of to keep from prematurely
                   displaying "Role is Required" warning.
              -->
            <span class="alert alert-danger" *ngIf="role.invalid && password.valid && firstname.valid
              && lastname.valid && email.valid && mobile.valid">
              Role is required
            </span>
          </p>
        </div>
      </div>
      <div class="form-group" [class.has-error]="firstname.invalid && firstname.touched"
        [class.has-success]="firstname.valid">
        <label for="firstname" class="control-label">First Name</label>
        <input required id="firstname" name="firstname" type="text" class="form-control" [(ngModel)]="user.firstname"
          #firstname="ngModel">
        <span class="alert alert-danger" *ngIf="firstname.invalid && firstname.touched">
          First Name is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="lastname.invalid && lastname.touched"
        [class.has-success]="lastname.valid">
        <label for="lastname" class="control-label">Last Name</label>
        <input required id="lastname" name="lastname" type="text" class="form-control" [(ngModel)]="user.lastname"
          #lastname="ngModel">
        <span class="alert alert-danger" *ngIf="lastname.invalid && lastname.touched">
          Last Name is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
        <label for="email" class="control-label">Email</label>
        <!-- required and email validators -->
        <input required email id="email" name="email" type="email" class="form-control" [(ngModel)]="user.email"
          #email="ngModel">
        <span class="alert alert-danger" *ngIf="email.errors?.required && email.touched">
          Email is required
        </span>
        <span class="alert alert-danger" *ngIf="email.errors?.email && email.touched">
          Email is invalid
        </span>
      </div>
      <div class="form-group" [class.has-error]="mobile.invalid && mobile.touched" [class.has-success]="mobile.valid">
        <label for="mobile" class="control-label">Mobile</label>
        <input required number id="mobile" name="mobile" type="tel" class="form-control" [(ngModel)]="user.mobile"
          #mobile="ngModel">
        <span class="alert alert-danger" *ngIf="mobile.invalid && mobile.touched">
          Mobile is required
        </span>
      </div>
      <div class="form-group">
        <label>Status</label>
        <div class="form-control checkbox-inline" style="width:40ch">
          <input type="checkbox" name="isInActive" [(ngModel)]="user.inActive" #inActive="ngModel" style="width:4ch">Is
          InActive
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="control-label"> Date Created</label>
        <input disabled id="createdDate" name="createdDate" type="text" class="form-control" value="{{dspCreatedDate}}">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>
      &nbsp;
      <button type="reset" class="btn btn-success" (click)="cancel()">Cancel</button>
    </div>
  </div>
  <br />
</form>
<div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div><br/><br/><br/><br/><a id="bottom" href="#bottom"></a></div>
<!-- <br/><br/>
  Error message: {{error}}
  <br/><br/>
  Angular Generated Form Model : {{userForm.value | json}}
  <br/><br/>
  Our User Model : {{user | json}}
   -->
