<form #venueForm="ngForm" (ngSubmit)="addVenue(venueForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Add New Venue</h4>
      <p>&nbsp;</p>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="_id.invalid && _id.touched" [class.has-success]="_id.valid">
        <label for="_id" class="control-label"> Venue Name (must be unique)</label>
        <input required id="_id" name="_id" type="text" class="form-control" [(ngModel)]="venue._id" #_id="ngModel">
        <span class="alert alert-danger" *ngIf="_id.invalid && _id.touched">
          Venue Name is required
        </span>
      </div>
      <div class="form-group">
        <label for="_id" class="control-label"> Description</label>
        <input id="description" name="description" type="text" class="form-control" [(ngModel)]="venue.description"
          #description="ngModel">
      </div>
      <div class="form-group">
        <label for="contact" class="control-label"> Contact (select one)</label>
        <select id="contact" name="contact" class="form-control" [(ngModel)]="venue.contact" #contact="ngModel">
          <option *ngFor="let contact of contactList" [value]="contact"> {{contact}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="website" class="control-label"> Website URL</label>
        <input id="website" name="website" type="url" class="form-control" [(ngModel)]="venue.website"
          #website="ngModel">
      </div>
      <div class="form-group">
        <label for="calendar" class="control-label"> Calendar URL</label>
        <input id="calendar" name="calendar" type="text" class="form-control" [(ngModel)]="venue.calendar"
          #calendar="ngModel">
      </div>
      <div class="form-group">
        <label for="address" class="control-label"> Address</label>
        <input id="address" name="address" type="text" class="form-control" [(ngModel)]="venue.address"
          #address="ngModel">
      </div>
      <div class="form-group">
        <label for="town" class="control-label"> Town</label>
        <input id="town" name="town" type="text" class="form-control" [(ngModel)]="venue.town" #town="ngModel">
      </div>
      <div class="form-group">
        <label for="location" class="control-label"> Location (Map URL)</label>
        <input id="location" name="location" type="text" class="form-control" [(ngModel)]="venue.location"
          #location="ngModel">
      </div>
      <div class="form-group">
        <label for="iconimage" class="control-label"> Venue Icon Image (path/file)</label>
        <input id="iconimage" name="iconimage" type="text" class="form-control" [(ngModel)]="venue.iconimage"
          #iconimage="ngModel">
      </div>
      <div class="form-group">
        <label for="photoimage" class="control-label"> Venue Photo Image (path/file)</label>
        <input id="photoimage" name="photoimage" type="text" class="form-control" [(ngModel)]="venue.photoimage"
          #photoimage="ngModel">
      </div>
      <div class="form-group">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="venueForm.invalid">Save</button> -->
        <button type="submit" class="btn btn-primary">Save</button>
        &nbsp;
        <button type="reset" class="btn btn-success" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div><a id="bottom"></a></div>
<!--
<br /><br />
Angular Generated Form Model : {{venueForm.value | json}}
<br /><br />
Our Venue Model : {{venue | json}}
 -->
