<form #meetingForm="ngForm" (ngSubmit)="updateMeeting(meetingForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Edit Meeting</h4>
      <p>&nbsp;</p>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label> Meeting Id (cannot be changed)</label>
        <input disabled id="_id" name="_id" type="text" class="form-control" [(ngModel)]="meeting._id" #_id="ngModel">
      </div>

      <div class="form-group" [class.has-error]="team.invalid && team.touched" [class.has-success]="team.valid">
        <label for="team" class="control-label"> Team Name (select one)</label>
        <select required id="team" name="team" class="form-control" [(ngModel)]="meeting.team" #team="ngModel">
          <option *ngFor="let teamName of teams" [value]="teamName"> {{teamName}}</option>
        </select>
        <span class="alert alert-danger" *ngIf="team.invalid && team.touched">
          Team Name is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="venue.invalid && venue.touched" [class.has-success]="venue.valid">
        <label for="venue" class="control-label"> Venue Name (select one)</label>
        <select required id="venue" name="venue" class="form-control" [(ngModel)]="meeting.venue" #venue="ngModel">
          <option *ngFor="let venueName of venues" [value]="venueName"> {{venueName}}</option>
        </select>
        <span class="alert alert-danger" *ngIf="venue.invalid && venue.touched">
          Venue Name is required
        </span>
      </div>

      <div class="form-group">
        <label for="meetingDate" class="control-label"> Meeting Date</label>
        <div class="input-group small-entry">
          <input required id="meetingDate" name="meetingDate" placeholder="yyyy-mm-dd" class="form-control"
            [(ngModel)]="meeting.meetingDate" [bsConfig]="datePickerConfig" bsDatepicker type="text" placement="right">
        </div>
      </div>

      <label for="meeting.startTime" class="control-label">Start Time</label>
      <timepicker required id="meeting.startTime" name="meeting.startTime" [(ngModel)]="meeting.startTime"
        [hourStep]="hstep" [minuteStep]="mstep" [showSeconds]="false" [ngModelOptions]="{standalone: true}">
      </timepicker>

      <label for="meeting.endTime" class="control-label">End Time</label>
      <timepicker required id="meeting.endTime" name="meeting.endTime" [(ngModel)]="meeting.endTime" [hourStep]="hstep"
        [minuteStep]="mstep" [showSeconds]="false" [ngModelOptions]="{standalone: true}">
      </timepicker>

      <div class="form-group" [class.has-error]="comments.invalid && comments.touched"
        [class.has-success]="comments.valid">
        <label for="comments" class="control-label">Comments</label>
        <input required id="comments" name="comments" type="text" class="form-control" [(ngModel)]="meeting.comments"
          #comments="ngModel">
        <span class="alert alert-danger" *ngIf="comments.invalid && comments.touched">
          Comment is required
        </span>
      </div>
      <div class="form-group">
        <!-- <button type='submit' class='btn btn-primary' [disabled]='meetingForm.invalid'>Save</button> -->
        <button type='submit' class='btn btn-primary'>Save</button>
        &nbsp;
        <button type="reset" class="btn btn-success" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div><br/><br/><br/><br/><a id="bottom" href="#bottom"></a></div>
