<form #userForm="ngForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">List All Users</h4>
      <p>This page can only be accessed by administrators.</p>
    </div>
      <table class="table-fixed">
        <colgroup>
          <col style="width:20%;">
          <col style="width:20%;">
          <col style="width:20%;">
          <col style="width:5%;">
          <col style="width:5%;">
        </colgroup>
        <thead>
          <tr>
              <th>User Name</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Role</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Active</th>
              <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- three empty lines will push first display line below  -->
          <tr>&nbsp;</tr>
          <tr>&nbsp;</tr>
          <tr>&nbsp;</tr>
          <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.role}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>{{!user.inActive}}</td>
            <td><a [routerLink]="['edit', user._id]" class="btn btn-primary btn-sm">Edit</a></td>
            <td><a (click)="deleteUser(user._id)" class="btn btn-danger btn-sm" style="color: white">Del</a></td>
          </tr>
          <tr *ngIf="!users">
            <td colspan="5">Loading data. Please wait... </td>
          </tr>
          <tr *ngIf="users && users.length==0" class="alert alert-danger">
            <td colspan="5">No Users to display</td>
          </tr>
          <tr *ngIf="errorMsg" class="alert alert-danger">
            <td colspan="5">{{errorMsg}}</td>
          </tr>
        </tbody>
        <div><a id="bottom" href="#bottom"></a>&nbsp;
        </div>
      </table>
  </div>
</form>
